@charset "UTF-8";

/* Versão para as demais mídias */

/* Tablets médios */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

/* Tablets grandes */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: block;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}

/* Desktops pequenos */
@media screen and (min-width: 1280px) and (max-width: 1365px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

/* Desktops médios */
@media screen and (min-width: 1366px) and (max-width: 1599px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

/* Desktops grandes */
@media screen and (min-width: 1600px) and (max-width: 1919px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

/* Monitores ultra-wide e 4K */
@media screen and (min-width: 1920px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: block;
    }

    img#tv {
        display: none;
    }
}

/* TVs Full HD (1080p) */
@media screen and (min-width: 1920px) and (max-width: 2047px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}

/* TVs 4K (Ultra HD) */
@media screen and (min-width: 3840px) and (max-width: 4095px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}

/* TVs 8K (Ultra HD Premium) */
@media screen and (min-width: 7680px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: none;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: block;
    }
}

/* Impressora*/
@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main>h1 {
        text-shadow: none;
        color: black;
    }

    img#phone {
        display: none;
    }

    img#tablet {
        display: none;
    }

    img#print {
        display: block;
    }

    img#pc {
        display: none;
    }

    img#tv {
        display: none;
    }
}